.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-menu li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.header-menu a {
  text-decoration: none;
  color: white;
}

.header-menu a:hover {
  text-decoration: none;
  color: white;
  background-color: gray;
}

.header-menu a.selected {
  text-decoration: none;
  color: white;
  background-color: gray;
}

.react-pdf__Page__canvas {
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
